TIQS_MOBILE=
TIQS_OTP=
TIQS_PIN=

JENKINS_URL=http://192.168.4.30:8081
JENKINS_USER=
JENKINS_TOKEN=
JENKINS_GIT_CREDENTIALS_ID=
JENKINS_JOB_NAME=web-automation
JENKINS_GIT_URL=https://github.com/WiseOwlTech/tiqsWebAutomation.git
JENKINS_GIT_BRANCH=web-automation
